.facilities-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: var(--hospital-blue);
}

.head h1 {
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: var(--accent-blue);
}

.head hr {
  margin: 0 auto;
  border: 2px solid var(--accent-blue);
  margin-bottom: 100px;
  
}

.facilities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.facility {
  width: 270px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,105,180,0.08);
  border-radius: 12px;
  background-color: var(--clean-white);
  border-top: 4px solid var(--accent-blue);
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.facility:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 8px 24px rgba(0,105,180,0.18);
  border-top: 4px solid #005f92;
}

.facility h3 {
  color: var(--accent-blue);
  margin-bottom: 0.5rem;
}

.facility p {
  color: var(--text-dark);
  font-size: 1rem;
}